html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    /*line-height: 30px;*/
}
a{
    text-decoration: none;
}
.d-logo{
    margin-top: 10px;
}
.d-logo a{
    color: #000000;
}
.h-banner{
    width: 100%;
}
.con-l-1st{
    position: absolute;
    left: 28.73%;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.con-l-2nd{
    position: relative;
    right: -8.6%;
    top: -10.3%;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #39AA35;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.sc-sel .nav-link.active{
    color: #ffffff;
    background-color: #39AA35;

}
.pay-sel .nav-link.active{
    color: #ffffff;
    background-color: #39AA35;
    width: 100px;
    border-radius: 20px;
    margin-left: 10px;
    padding: 7px 0px;
}
.pay-sel .nav-item{

    margin-top: 10px;
    width: 30%;

}
.pay-sel a{
    color: #000000;
    width: 100%;
    /*padding: 0px 9px;*/
}
.content-2 a:hover{
    border: none !important;
}
.pay-play{
    background: #39AA35;
    border-radius: 24.5px;
    color: #ffffff !important;
    width: 100px;
    margin-top: -5px;
    padding: 7px 0px;
}
.td-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #393939;
}

tbody, td, tfoot, th, thead, tr{
    border-style: none!important;
}

.sc-sel  a{
    color: #000000;
}
.sc-sel .nav-link{
    padding: 2px 10px 2px 10px!important;
    border-radius: 8px;
}
.not-t{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #393939;
}
.sel-redio .btn{
    border: none !important;
    /*padding: 0.15rem 0.75rem !important;*/
    padding: 2px 10px 2px 10px!important;
    color: #000000;
    border-radius: 8px !important;
}
.sel-redio .btn-check:checked+.btn-outline-success{
    background-color: #39AA35 !important;
    border: none !important;
}
.for-pass{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
.btnSignIn{
    background: #39AA35;
    border-radius: 20px;
    padding: 8px 25px;
    color: #ffffff;
    margin-top: 23px;
    margin-bottom: 12px;
}
.cre-sig{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.btn-g{
    padding: 0px 0px 60px 0px;
}
.btn-g .sig{
    color: #39AA35 !important;
    text-decoration: none !important;
}
.r-back{
    background-color: #39AA35;
    color: #FFFFFF;
}
.r-tot{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding-top: 15px;
}
.r-re{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding-top: 15px;
}
.sub-btn{
    background-color: #39AA35;
    border-radius: 20px;
    color: #FFFFFF !important;
    float: right;
}
.home-banner{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 65px;
}
.header-bac{
    width: 100%;
    min-height: 115px;
    position: absolute;
    background: #39AA35;
    box-shadow: 0px 4px 20px rgba(18, 74, 15, 0.4);
    border-radius: 0px 0px 25px 25px;
    z-index: 10000;
    padding-top: 18px;
}
.img-pro{
    position: absolute;
    width: 38px;
    height: 38px;
    left: 17px;
    border-radius: 50%;
}
.c-h{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}
.c-t{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.h-ico{
    position: absolute;
    width: 32px;
    height: 32px;
    right: 17px;
}
.btn-st{
    background: rgba(57, 170, 53, 0.05);
    border: 1px solid #E7EEE7;
    border-radius: 7px;
    margin-top: 10px;
    /*height: 86px;*/

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.019em;
    color: #196017;
    padding: 27px 0px;
}
.content, .content{
    margin-bottom: 90px;
}
.content a:hover{
    border: 2px solid #0dcaf0 !important;
}
.footer{
    background-color: #ffffff;
}
.h-icon-bg{
    background: #39AA35;
    border-radius: 24.5px;
    width: 50px;
    height: 49px;
    text-align: center;
}
.head{
    padding: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}
.bn-cl{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-cl{
    background: rgba(57, 170, 53, 0.05);
    border: 1px solid #E7EEE7;
    border-radius: 7px;
    margin-top: 10px;
    /*height: 86px;*/

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.019em;
    color: #196017;
    padding: 12px 0px;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.fc-ti-1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
}
.btn-down{
    /*width: 121px;*/
    /*height: 39px;*/
    background: #39AA35;
    border-radius: 20px;
    padding: 10px 25px;
    color: #ffffff;
    border: none;
}
.fc-ti-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
}
.m-qu{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
}
.q-ans .btn{
    width: 100%;
    height: 45px;
    background: #EFEEEE;
    border-radius: 22.5px;
    border: none;
    margin-top: 8px;
    display: block;
    color: #393939;
    padding-top: 12px;
}
.math-p{
    padding-left: 10px !important;
}
.cl-p-r{
    padding-right: 10px !important;
}
.on-of-sw{
    left: 50%;
}
.on-of-sw .form-check-input:checked{
    /*background-color: #ffffff !important;*/
    /*border-color: #ffffff !important;*/
    color: #39AA35 !important;
}
.fixed-bottom{
    left: 5px !important;
}
.h-p-r{
    padding-right: 4px !important;
}
.q-ans .btn-check:checked+.btn-outline-success{
    background-color: #39AA35 !important;
    border: none !important;
}
.f-ti-1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
.f-ti-1 a{
    color: #000000;
}
.sk-ti{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.sk-n{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.sch-nd a{
    color: #000000;
}
.sch-nd a:hover{
    color: #000000;
    border: 1px solid #000000 !important;
}


.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
}
.search-click:focus {
    width: 300px;
    padding-left: 50px;
}

.s-box{
    width: 100%;
    padding: 14px 9px;
    border-radius: 8px;
}
.content-2 a{
    color: #000000;
}
.img-ti{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #777777;
}
.sop-ti{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.pro-img{
    width: 100%;
    height: 192px;
}
.icon{
    float: right;
}
.pro-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
}
.icon{
    margin-top: 8px;
}
.pro-p-t{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #373636;
    margin-top: -8px;
}
.pro-big-img{
    width: 100%;
    /*height: 384px;*/
}
.pro-d-te{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
}
.a-btn{
    background: #39AA35;
    border-radius: 24.5px;
    width: 100%;
    height: 49px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 15px;
}

.a-btn2{
    background: #6b6c6b;
    border-radius: 24.5px;
    width: 100%;
    height: 49px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 15px;
}

.cart-img{
    width: 100%;
    height: 116px;
    border-radius: 11px;
}
.cart-t{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #373636;
}
.cart-pri{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #373636;
}
.c-t-v{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1D1D1B;
}
.main-row{
    background-color: #39AA35;
    color: #ffffff;
    padding-top: 15px;
}
.r-n{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}
.r-star{
    color: #FFCB14;
    font-size: 15px;
}
.r-h-st{
    width: 50px;
    height: 50px;
    margin-top: -10px;
}

.voc-ac .nav-link.active{
    color: #ffffff;
    background-color: #39AA35;
    border-radius: 24px;
    padding: 13px;
}
.voc-ac .nav-link{
    background-color: #ECECEC;
    border-radius: 24px;
    padding: 13px;
}
.voc-ac .nav-item{
    width: 50%;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.vo-t{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #393939;
}
.pro-pic{
    width: 90px;
    height: 90px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    position: relative;
    bottom: 55px;
    /*left: 50%;*/
}
.pro-lavel{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 90px;
    left: 18px;
}
.pro-edit{
    position: relative;
    bottom: 32px;
    right: 7px;
    float: right;
}
.h-t{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #393939;
    position: relative;
    bottom: 88px;
}
.text-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #393939;
}
.num-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #535553;
}
.lab-bat{
    width: 50px;
    height: 50px;
    margin-top: -5px;
}
.wallet{
    width: 100%;
}

.correct{
    background-color: #39AA35 !important;
    color: #ffffff !important;
}
.wrong{
    background-color: red !important;
    color: #ffffff !important;
}









.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
}
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.minus:hover{
    background-color:#ffffff !important;
}
.plus:hover{
    background-color: #ffffff !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}






.search-container {
    position: relative;
    display: inline-block;
    margin: 4px 2px;
    height: 50px;
    width: 50px;
    vertical-align: bottom;
}

.mglass {
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.searchbutton {
    position: absolute;
    font-size: 22px;
    /*width: 100%;*/
    margin: 0;
    padding: 0;
}

.search:focus + .searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: white;
    color: black;
}

.search {
    position: absolute;
    left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
    background-color: white;
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    /*height: 100%;*/
    z-index: 10;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.search:focus {
    top: 18px;
    width: 275px; /* Bar width+1px */
    height: 40px;
    padding: 0 16px 0 0;
    border: 1px solid #a6a7a6;
    border-radius: 20px;
}

.expandright {
    left: 49px;
    right: auto;
}

.expandright:focus {
    padding: 0 0 0 16px;
}

iframe{
    width: 100% !important;
    min-height: 250px !important;
}
.btn-join{
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 5px 20px;
    color: #196017;
}
.quiz-exam a {
    color: #000000;
}
.quiz-exam a:hover{
    border: none !important;
}
.You{
    background-color: #E5F4E4;
}
.You_p{
    padding-top: 22px !important;
}
.You_p2{
    padding-top: 15px !important;
}

.badge_cus{
    right: 5px !important;
    top: 20px !important;
}

.payment .btn{
    border: none !important;
    color: #000000;
}
.payment .btn-check:checked+.btn-outline-success{
    color: #ffffff;
    background-color: #39AA35;
    width: 100px;
    border-radius: 20px;
    margin-left: 10px;
    padding: 7px 0px;
}
.coin-div{
    background-color: #fdc894;
    padding: 20px 25px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 3px;
}


.top-tit{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #393939;
    margin-top: 12px;
}
.top-div-in{
    background-color: #39AA35;
    border-radius: 15px;
}
.back-color-inv{
    background-color: #FFFFFF;
    border-radius: 9px;
    padding: 10px;
    height: 145px;
}
.inv-top-ti{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #393939;
}
.p-l-r{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.inv-top-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #393939;
}
.table-cus{
    border: 1px solid #D8D8D8 !important;
}
table thead{
    background-color: #39AA35;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

}
table ,td{
    border-bottom: 1px solid #D8D8D8 !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

table tr:last-child th:first-child {
    border-top-left-radius: 10px;
}
table tr:last-child th:last-child {
    border-top-right-radius: 10px;
}

table th{
    padding: 15px  10px!important;
}
.bu-ti-fot{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #393939;
}
.bu-cen-hr{
    border-bottom: 1px solid #B9B0B0;
    width: 32px;
    margin-bottom: 8px;
}

.or-ti{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #393939;
}
.or-ti-sub{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #393939;
}
.view-btn-or{
    background: #39AA35;
    border-radius: 12px;
    color: #FFFFFF !important;
    padding: 2px 18px;
}
.dropdown-menu{
    top: 30px !important;
}

/*@media only screen and (max-width: 425px){*/
/*    !*Small smartphones [325px -> 425px]*!*/
/*}*/